@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffbf5;
  --foreground: #3f2813;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at 10% 10%, #fff7e6 0, #fffbf5 55%);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading), serif;
}

